.formGroup {
    padding-bottom: 20px;
}

.formGroup input {
    background-color: white;
    padding: 8px;
    width: 100%;
    border: none;
}

.formGroup textarea {
    background-color: black;
    padding: 8px 8px 75px;
    width: 100%;
    border: none;
}

.formGroup label {
    display: block;
}

.timeMenu button{
    background-color: #3F51B6;
    border: 1px solid #3849a3;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 50%;
    display: block;
    align-items: center;
    align-content: center;
}

.timeMenu button:not(:last-child) {
    border-bottom: none;
}

.timeMenu button:hover {
    background-color: #3849a3;
}

.cardFlip {
    background-color: transparent;
    width: 400px;
    height: 400px;
    padding: 10px 24px;
}

.timeMenu button{
    background-color: #3F51B6;
    border: 1px solid #3849a3;
    color: white;
    padding: 10px 24px;
    cursor: pointer;
    width: 100%;
    display: block;
    align-items: center;
    align-content: center;
    text-align: center;
}

.timeMenu button:not(:last-child) {
    border-bottom: none;
}

.timeMenu button:hover {
    background-color: #3849a3;
}
