@import './Appointments.css';
@import './Navigation.css';
@import './Dashboard.css';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,600,700');


#wrapper{
    display: flex;
}
#map {

    display: flex;
    width: 100%;
    height: 100%;
}

#card {
    display: flex;
    width: 100%;
    height: 100%;

}

#mapDisplay {
    display: flex;
}